---
import NAV from '../nav.astro';
export function getStaticPaths({ paginate }) {
  const astronautPages = [
    { astronaut: ["/ayocs-sprunkr/","/ayocs-sprunkr.png","AYOCS Sprunkr"]},
    { astronaut: ["/incredibox-donki-abgerny/","/incredibox-donki-abgerny.png","Incredibox Donki Abgerny"]},
    { astronaut: ["/sprunki-pyramixed-version/","/sprunki-pyramixed-version.png","Sprunki Pyramixed"]},
    { astronaut: ["/sprunki-squid-remix/","/sprunki-squid-remix.png","Sprunki Squid Remix"]},
    { astronaut: ["/sprunki-1996/","/sprunki-1996.png","Sprunki 1996"]},
    { astronaut: ["/sprunki-rotrizi-5/","/sprunki-rotrizi-5.png","Sprunki rotrizi 5.0"]},
    { astronaut: ["/sprunki-parasite-parasprunki-15/","/sprunki-parasite-parasprunki-15.png","Sprunki Parasite ParaSprunki 15"]},

    { astronaut: ["/incredibox-sprunksters/","/incredibox-sprunksters.png","Incredibox Sprunksters"]},
    { astronaut: ["/sprunki-phase-1/","/sprunki-phase-1.png","Sprunki Phase 1"]},
    { astronaut: ["/sprunki-phase-2-5/","/sprunki-phase-2-5.png","Sprunki Phase 2.5"]},
    { astronaut: ["/sprunki-phase-8/","/sprunki-phase-8.png","Sprunki Phase 8"]},
    { astronaut: ["/sprunki-babies/","/sprunki-babies.png","Sprunki Babies"]},
    { astronaut: ["/mundo-torajo-sprunki/","/mundo-torajo-sprunki.png","Mundo Torajo Sprunki"]},
    { astronaut: ["/sprunki-minecraft/","/sprunki-minecraft.png","Sprunki Minecraft"]},

    { astronaut: ["/pikmin-no-sprunki/","/pikmin-no-sprunki.png","Pikmin No Sprunki"]},
    { astronaut: ["/the-haze-pixelbox/","/the-haze-pixelbox.png","The Haze Pixelbox"]},
    { astronaut: ["/yojou-sprunki-mustard/","/yojou-sprunki-mustard.png","Yojou Sprunki Mustard"]},
    { astronaut: ["/sprunki-retake-bonus-characters/","/sprunki-retake-bonus-characters.png","Sprunki Retake Bonus Characters"]},
    { astronaut: ["/sprunki-red-sun/","/sprunki-red-sun.png","Sprunki Red Sun"]},
    { astronaut: ["/sprunki-abgerny/","/sprunki-abgerny.png","Sprunki Abgerny"]},

    { astronaut: ["/sprunki-christmas/","/Sprunki Christmas.png","Sprunki Christmas"]},
    { astronaut: ["/sprunki-police-and-prisoners/","/Sprunki Police And Prisoners.png","Sprunki Police And Prisoners"]},
    { astronaut: ["/sprunki-sepbox-steel-factory/","/Sprunki Sepbox Steel Factory.png","Sprunki x Sepbox Steel Factory"]},
    { astronaut: ["/sprunki-like-minecraft/","/Sprunki Like Minecraft.png","Sprunki Like Minecraft"]},
    { astronaut: ["/sprunki-but-with-memes/","/Sprunki But With Memes.png","Sprunki But With Memes"]},
    { astronaut: ["/sprunki-halloween/","/Sprunki Halloween.png","Sprunki Halloween"]},
    { astronaut: ["/sprunkr-but-sprunki/","/Sprunkr But Sprunki.png","Sprunkr But Sprunki"]},
    { astronaut: ["/sprunki-mustard/","/Sprunki Mustard.png","Sprunki Mustard"]}, 
    { astronaut: ["/incredibox-sprinkle/","/Incredibox Sprinkle.png","Incredibox Sprinkle"]},
    { astronaut: ["/sprunki-good-night/","/Sprunki Good Night.png","Sprunki Good Night"]},

    { astronaut: ["/sprunki-mod-BFDI/","/Sprunki Mod BFDI.png","Sprunki Mod BFDI"]},
    { astronaut: ["/sprunki-interactive-beta/","/Sprunki Interactive Beta.png","Sprunki Interactive BETA"]},
    { astronaut: ["/sprunki-virus-new-update/","/Sprunki virus NEW UPDATE.png","Sprunki Virus New Update"]},
    { astronaut: ["/sprunki-eggs-mix/","/Sprunki Eggs Mix.png","Sprunki Egg's Mix"]},
    { astronaut: ["/sprunki-swapped-horror/","/Sprunki Swapped Horror.png","Sprunki Swapped Horror"]},
    { astronaut: ["/sprunki-pyramixed/","/Sprunki Pyramixed 0.9.png","Sprunki Pyramixed 0.9"]},
    { astronaut: ["/sprunki-retake-new-human/","/Sprunki Retake New Human.png","Sprunki Retake New Human"]},

    { astronaut: ["/dandyrunki-retake/","/Dandyrunki Retake.png","Dandyrunki Retake"]},
    { astronaut: ["/mountayonnaise/","/Sprunki Mountayonnaise.png","Sprunki Mountayonnaise"]},
    { astronaut: ["/sprunki-meets-the-cat-spell/","/Sprunki Meets The Cat Spell.png","Sprunki Meets The Cat Spell"]},
    { astronaut: ["/incredibox-shatter-sprunk/","/Incredibox Shatter Sprunk.png","Incredibox Shatter Sprunk"]},
    { astronaut: ["/sprunki-play-random/","/Sprunki Play Random.png","Sprunki Play Random"]},
    { astronaut: ["/sprunki-basical/","/Sprunki Basical.png","Sprunki Basical"]},
    { astronaut: ["/super-sprunki-brasil/","/Super Sprunki Brasil.png","Super Sprunki Brasil"]},
    { astronaut: ["/sprunki-night-time/","/Sprunki Night Time.png","Sprunki Night Time"]},
    { astronaut: ["/incredibox/","/Incredibox.png","Incredibox"]},
    { astronaut: ["/sprunki-maker/","/Sprunki Maker.png","Sprunki Maker"]},
    { astronaut: ["/swap-sprunkgerny/","/Swap Sprunkgerny.png","Swap Sprunkgerny"]},
    { astronaut: ["/sprunkgerny/","/Sprunkgerny.png","Sprunkgerny"]},
    { astronaut: ["/incredibox-cool-as-ice/","/Incredibox Cool As Ice.png","Incredibox Cool As Ice"]},
    { astronaut: ["/sprunki-dandys-world/","/Sprunki Dandys World.png","Sprunki Dandys World"]},
    { astronaut: ["/sprunki-sonic/","/Sprunki Sonic.png","Sprunki Sonic"]},
    { astronaut: ["/sprunki-craft/","/Sprunki Craft.jpg","Sprunki Craft"]},
    { astronaut: ["/sprunki-cool-as-ice/","/Sprunki Cool As Ice.png","Sprunki Cool As Ice"]},
    { astronaut: ["/sprunki-retake/","/Sprunki Retake.png","Sprunki Retake"]},
    { astronaut: ["/incredibox-yellow-colorbox/","/Incredibox Yellow Colorbox.png","Incredibox Yellow Colorbox"]},
    { astronaut: ["/sprunki-phase-5/","/Sprunki Phase 5.png","Sprunki Phase 5"]},
    { astronaut: ["/sprunkle-bops/","/sprunklebops.png","Sprunkle Bops"]},
    { astronaut: ["/fiddlebops-sprunki/","/fiddlebops-sprunki-bg-1.png","Fiddlebops Sprunki"]},
    { astronaut: ["/","/tw.jpg","Fiddlebops"]},
  ];

  // 根据宇航员数组生成页面，每页2项
  return paginate(astronautPages, { pageSize: 30 });
}
// 所有分页数据都在 "page" 参数中传递
const { page } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALL Games - FiddleBops Game World</title>
    <meta name="description" content="Create your unique music with FiddleBops! This fan-made project, inspired by Incredibox, lets you mix and match various sounds to compose personalized tracks.">
    <meta name="robots" content="index, follow"/>
    <link rel="canonical" href="https://www.playfiddlebops.com/games/"/>
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Game",
      "name": "ALL Games - FiddleBops Game World",
      "alternateName": "playfiddlebops.com",
      "url": "https://www.playfiddlebops.com/games/",
      "description": "Create your unique music with FiddleBops! This fan-made project, inspired by Incredibox, lets you mix and match various sounds to compose personalized tracks."
    }
    </script>
    
    <meta property="og:title" content="ALL Games - FiddleBops Game World"/>
    <meta property="og:description" content="Create your unique music with FiddleBops! This fan-made project, inspired by Incredibox, lets you mix and match various sounds to compose personalized tracks."/>
    <meta property="og:url" content="https://www.playfiddlebops.com/games/"/>
    <meta property="og:site_name" content="FiddleBops"/>
    <meta property="og:locale" content="en_US"/>
    <meta property="og:image" content="https://www.playfiddlebops.com/tw.jpg"/>
    <meta property="og:type" content="website"/>

    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="https://www.playfiddlebops.com/games/"/>
    <meta name="twitter:title" content="ALL Games - FiddleBops Game World"/>
    <meta name="twitter:description" content="Create your unique music with FiddleBops! This fan-made project, inspired by Incredibox, lets you mix and match various sounds to compose personalized tracks."/>
    <meta name="twitter:image" content="https://www.playfiddlebops.com/tw.jpg"/>

    <link rel="icon" href="https://www.playfiddlebops.com/favicon.ico"/>
    <link rel="stylesheet" href="/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <style>
      audio {width:210px}
.game-card .game-iframe-sprunki {
  float:left;
    width: 69%;
    margin:0;
    padding:0;
     height:600px;
     background-color:#fff;
     position: relative;
     background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(/tw.jpg);
     background-repeat: no-repeat;
     background-position: center center;
     background-size:cover;
}
      .game .game-l-2 img {
    width: 100%!important;
    height:auto;
    margin: 0 auto;}
      @media screen and (max-width: 980px){
        .game-card .game-iframe-sprunki {
     width:100%;}
      }
      @media screen and (max-width: 768px){
        audio {width: 120px}
        .game-card .game-iframe-sprunki {
     height:330px!important;
}
.game-info{display:none}
        }
          .tab-content{background-color:#fcfcfc;padding:80px 30px;border-radius:15px;margin-bottom:20px}

.pagination{width: 100%;text-align: center;padding: 10px;margin:40px 0}
.pagination b {
    width:40px;
    display: inline-block;
    padding: 8px 10px;
    border-radius: 5px;
    margin: 10px 5px;
    background: #666;
    color: #fff;
    border: 1px solid #666;
}

.pagination a {
    width:40px;
    display: inline-block;
    padding: 8px 10px;
    border-radius: 5px;
    margin: 10px 5px;
    background: #fff;
    color: #000;
    border: 1px solid #000;
    text-decoration: none;
}
    </style>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
      const navToggle = document.querySelector('.nav-toggle');
      const navMenu = document.querySelector('.nav-menu');
    
      navToggle.addEventListener('click', function() {
        navMenu.classList.toggle('active');
      });

    });
    </script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9JME3P55QJ"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9JME3P55QJ');
</script>
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <h1><a href="/">Fiddle<span class="light">Bops</span></a></h1>
            </div>
             <button class="nav-toggle" aria-label="Toggle Navigation">☰</button>
            <nav class="nav-menu">
                <ul>
                    <li><a href="/">Home</a></li>
                    <NAV />
                </ul>
            </nav>
      <select style="float:right;">
        <option data-lang="en" data-url="/">English</option>
        <option data-lang="zh-CN" data-url="/zh/">简体中文</option>  
        <option data-lang="es" data-url="/es/">Español</option>
        <option data-lang="fr" data-url="/fr/">Français</option>
        <option data-lang="de" data-url="/de/">Deutsch</option>
        <option data-lang="ja" data-url="/ja/">日本語</option>
        <option data-lang="ko" data-url="/ko/">한국어</option>
        </select>
        </div>
    </header>

    <main>

        <section class="games">
            <div class="container">
              <h2>All Games</h2>
                 <div class="game-grid">
{page.data.map(({ astronaut }) =>
                   <div class="game"><a href={astronaut[0]} title={astronaut[2]}>
                        <div class="game-logo game-l-2">
                            <img src={astronaut[1]} alt={astronaut[2]}>
                         </div>
                        <p>{astronaut[2]}</p></a>
                    </div>)}


                 </div>
            </div>
        </section>
<div class="pagination">

<a href={page.url.prev}>«</a>
<b class="current">{page.currentPage}  / {page.lastPage} </b>
<a href={page.url.next}>»</a>

</div>

    </main>

    <footer>
      <div class="container">
           <nav>
               <ul>
                  <li><a href="/privacy/">Privacy Policy</a></li>
                  <li><a href="/terms-of-service/">Terms of service</a></li>
                </ul>
           </nav>
           <p class="copyright">© 2025 FiddleBops. All rights reserved.</p>
      </div>
    </footer>
    <script>
      function goToLink(event) {
        const select = event.target;
        const selectedOption = select.options[select.selectedIndex];
        const url = selectedOption.getAttribute('data-url');
        if (url) {
          window.location.href = url;
        }
      }
  
      // Add event listener
      document.addEventListener('DOMContentLoaded', () => {
        const select = document.querySelector('select');
        if (select) {
          select.addEventListener('change', goToLink);
  
          // Set current language based on the <html> tag's lang attribute
          const htmlLang = document.documentElement.lang;
          const options = Array.from(select.options);
  
          // Try to find an option that exactly matches the lang attribute
          const currentOption = options.find(option =>
            option.getAttribute('data-lang') === htmlLang
          );
  
          if (currentOption) {
            currentOption.selected = true;
          } else {
            // If no exact match is found, try to find a default option (data-lang="en" or "/")
            let defaultOption = options.find(option =>
              option.getAttribute('data-lang') === 'en' // common default
            );
  
            if (!defaultOption) {
              defaultOption = options.find(option =>
                option.getAttribute('data-lang') === '/' // older convention
              );
            }
  
  
            if (defaultOption) {
              defaultOption.selected = true;
            }
          }
        }
      });
      </script>
<style>
/* Hide AddToAny vertical share bar when screen is less than 981 pixels wide */
@media screen and (max-width: 980px) {
    .a2a_floating_style.a2a_vertical_style { display: none; }
}
@media screen and (min-width: 980px) {
    .a2a_floating_style.a2a_default_style { display: none; }
}
</style>
<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_default_style" data-a2a-scroll-show="0,60" style="bottom:0px; right:0px;">

<a class="a2a_button_x"></a>
<a class="a2a_button_reddit"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_telegram"></a>
<a class="a2a_button_whatsapp"></a>
<a class="a2a_button_linkedin"></a>
    <a class="a2a_dd" href="https://www.playfiddlebops.com/"></a>
</div>
<!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_floating_style a2a_vertical_style" style="left:0px; top:150px;">
<a class="a2a_button_x"></a>
<a class="a2a_button_reddit"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_telegram"></a>
<a class="a2a_button_whatsapp"></a>
<a class="a2a_button_linkedin"></a>
    <a class="a2a_dd" href="https://www.playfiddlebops.com/"></a>
</div>

<script defer src="https://static.addtoany.com/menu/page.js"></script>


</body>
</html>