---
import GameLayout from '../layouts/GameLayout.astro';

const title = 'Fiddlebops Sprunki - Play Fiddlebops Sprunki Online';
const description = 'The Fiddlebops Sprunki breathes new life into the original Sprunki game by adding a delightful twist.it offers players a chance to enjoy a more whimsical and less stressful gaming experience.';
const keywords = 'Fiddlebops Sprunki, Sprunki Phase 5 online';
const canonical = 'https://www.playfiddlebops.com/fiddlebops-sprunki/';
const gameImage = 'https://www.playfiddlebops.com/fiddlebops-sprunki-bg-1.png';
const iframeUrl = 'https://67ce9d735e0d2d9051c65366--kaleidoscopic-sundae-181ab2.netlify.app/';
const gameImageBg = '/fiddlebops-sprunki-bg-1.png';
---
<GameLayout 
  title={title}
  description={description}
  keywords={keywords}
  canonical={canonical}
  gameImage={gameImage}
  gameImageOpacity="0.7, 0.7"
  iframeUrl={iframeUrl}
  gameImageBg={gameImageBg}
>
  <section class="about" id="about">
    <div class="container">
      <h2>About Fiddlebops Sprunki</h2>
      <div class="about-content">
          <p><a href="/" style="float:left;">home</a> > Fiddlebops Sprunki</p>
          <div class="stars"><svg width="16" viewBox="0 -960 960 960" height="16" xmlns="http://www.w3.org/2000/svg" style="--backgroundColor: #ffd223; --hoverColor: #ffd223; fill: #ffd223; " class="svelte-bpq1qa"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z" shape-rendering="geometricPrecision"></path></svg> <svg width="16" viewBox="0 -960 960 960" height="16" xmlns="http://www.w3.org/2000/svg" style="--backgroundColor: #ffd223; --hoverColor: #ffd223; fill: #ffd223; " class="svelte-bpq1qa"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z" shape-rendering="geometricPrecision"></path></svg> <svg width="16" viewBox="0 -960 960 960" height="16" xmlns="http://www.w3.org/2000/svg" style="--backgroundColor: #ffd223; --hoverColor: #ffd223; fill: #ffd223; " class="svelte-bpq1qa"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z" shape-rendering="geometricPrecision"></path></svg> <svg width="16" viewBox="0 -960 960 960" height="16" xmlns="http://www.w3.org/2000/svg" style="--backgroundColor: #ffd223; --hoverColor: #ffd223; fill: #ffd223; " class="svelte-bpq1qa"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z" shape-rendering="geometricPrecision"></path></svg> <svg width="16" viewBox="0 -960 960 960" height="16" xmlns="http://www.w3.org/2000/svg" style="--backgroundColor: #9E9E9E;--hoverColor: #9E9E9E;fill: #9E9E9E;" class="svelte-bpq1qa"><path d="m233-80 65-281L80-550l288-25 112-265 112 265 288 25-218 189 65 281-247-149L233-80Z" shape-rendering="geometricPrecision"></path></svg>  4.3/5 (684 votes)</div>

            <h3>Fiddlebops Sprunki Introduction</h3>
             <p>The Fiddlebops Sprunki breathes new life into the original Sprunki game by adding a delightful twist. With its charming characters, vivid visuals, and lighthearted gameplay, it offers players a chance to enjoy a more whimsical and less stressful gaming experience.</p>
            <hr>

            <h3>Fiddlebops Sprunki Gameplay</h3><ul>
              <li>Start with Characters: Choose from a set of eerie yet charming characters, each with its own sound or vocal loop.</li>
              <li>Drag and Drop: Use your mouse to drag characters onto the stage to build your track. Remove them by dragging them down or double-clicking.</li>
              <li>Enhance Tracks: Adjust pitch, layer sounds, and experiment with combinations to create unique music.</li>
              </ul>
            <hr>
          <h3>Fiddlebops Sprunki Features</h3>
          <p>This mod shifts the focus from the intense mechanics of the original game to a more relaxed, fun-filled experience. The simplified objectives and emphasis on creativity encourage players to explore, enjoy, and laugh. While it still retains the core essence of Sprunki, the Fiddlebops Sprunki introduces new levels of joy with its lighthearted approach.</p>
            <hr>
          <h3>Perfect for All Ages</h3>
            <p>One of the standout aspects of the Fiddlebops Sprunki is its universal appeal. The whimsical avatars and playful animations make it a hit with younger audiences, while its charm and humor can easily captivate adult players as well. Whether you're looking for a solo adventure or a shared experience with friends or family, this mod delivers endless entertainment.</p>
         </div>
    </div>
  </section>
</GameLayout>